version: '2'
services:
  elasticsearch:
    image: elasticsearch:latest
    command: elasticsearch -Des.network.host=0.0.0.0
    ports:
      - "9200:9200"

  logstash:
    image: logstash:latest
    command: logstash -f /etc/logstash/conf.d/logstash.conf
    volumes:
      - elasticsearch_data:/etc/logstash/conf.d
    ports:
      - "5000:5000"
    links:
      - elasticsearch

volumes:
  elasticsearch_data:
    driver: local
