beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2019.9.11
chardet==3.0.4
cycler==0.10.0
elasticsearch==5.1.0
fancycompleter==0.8
idna==2.6
kiwisolver==1.1.0
matplotlib==3.2.0
numpy==1.18.1
oauthlib==3.1.0
ordered-set==3.1.1
pandas==1.0.1
pdbpp==0.10.0
Pygments==2.4.2
PyLaTeX==1.3.0
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2019.2
requests==2.20.0
requests-oauthlib==0.8.0
requests-toolbelt==0.8.0
signals==0.0.2
six==1.12.0
soupsieve==1.9.3
tabulate==0.7.7
urllib3==1.24.2
wmctrl==0.3
Jinja2==2.11.2
habanero==0.6.0
hs-restclient==1.3.7
hsclient==0.1.2
hsmodels==0.1.1
PyYAML==5.4.1
lxml==4.6.3
tqdm==4.62.3
