version: "3.7"
services:

  # Collector
  otel-collector:
    image: otel/opentelemetry-collector:0.67.0
    # restart: always
    network_mode: host
    command: ["--config=/etc/otel-collector-config.yaml", ""]
    volumes:
      - ./otel-collector-config.yaml:/etc/otel-collector-config.yaml
    # ports:
    #   - "1888:1888"   # pprof extension
    #   - "8888:8888"   # Prometheus metrics exposed by the collector
    #   - "8889:8889"   # Prometheus exporter metrics
    #   - "13133:13133" # health_check extension
    #   - "4317:4317"   # OTLP gRPC receiver
    #   - "55679:55679" # zpages extension
