% Copyright The OpenTelemetry Authors
%
% Licensed under the Apache License, Version 2.0 (the "License");
% you may not use this file except in compliance with the License.
% You may obtain a copy of the License at
%
%     http://www.apache.org/licenses/LICENSE-2.0
%
% Unless required by applicable law or agreed to in writing, software
% distributed under the License is distributed on an "AS IS" BASIS,
% WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
% See the License for the specific language governing permissions and
% limitations under the License.

{alias, [
    {grpc_regen, [compile, {grpc, gen}, compile]}
]}.

{erl_opts, [debug_info]}.
{deps, []}.

{grpc, [{protos, ["proto"]},
        {service_modules, [{'oteldemo.FeatureFlagService', "ffs_service"},
                           {'grpc.health.v1.Health', "grpcbox_health"},
                           {'grpc.reflection.v1alpha.ServerReflection', "grpcbox_reflection"}]},
        {gpb_opts, [{descriptor, true},
                    {module_name_prefix, "ffs_"},
                    {module_name_suffix, "_pb"}]}]}.

{project_plugins, [grpcbox_plugin]}.
