name: CI

on:
  push:
    branches: [ release-5.x ]
  pull_request:
    branches: [ release-5.x ]

jobs:

  test-compose:
    name: 'Test suite: Compose'
    # List of supported runners:
    # https://docs.github.com/en/free-pro-team@latest/actions/reference/specifications-for-github-hosted-runners#supported-runners-and-hardware-resources
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Pre-build container images
        run: docker-compose build

      ########################################################
      #                                                      #
      # Ensure ยง"Initial setup" of the README remains valid. #
      #                                                      #
      ########################################################

      - name: Set password of every built-in user to 'testpasswd'
        run: |

          # Change password of 'elastic' user from 'changeme' to 'testpasswd' in config files

          sed -i 's/\(xpack.monitoring.elasticsearch.password:\) changeme/\1 testpasswd/g' logstash/config/logstash.yml
          sed -i 's/\(password =>\) "changeme"/\1 "testpasswd"/g' logstash/pipeline/logstash.conf
          sed -i 's/\(elasticsearch.password:\) changeme/\1 testpasswd/g' kibana/config/kibana.yml

          # Run Elasticsearch and wait for its availability

          docker-compose up -d elasticsearch
          source .github/workflows/scripts/lib/testing.sh
          poll_ready "$(container_id elasticsearch)" "http://$(service_ip elasticsearch):9200/" -u 'elastic:changeme'

          # Set passwords

          .github/workflows/scripts/elasticsearch-setup-passwords.sh

      ##########################################################
      #                                                        #
      # Test core components: Elasticsearch, Logstash, Kibana. #
      #                                                        #
      ##########################################################

      - name:  Run the stack
        run: docker-compose up -d

      - name: Execute core test suite
        run: .github/workflows/scripts/run-tests-core.sh

      - name: 'debug: Display state and logs (core)'
        # https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-syntax-for-github-actions#jobsjob_idif
        # https://docs.github.com/en/free-pro-team@latest/actions/reference/context-and-expression-syntax-for-github-actions#job-status-check-functions
        if: always()
        run: |
          docker-compose ps
          docker-compose logs elasticsearch
          docker-compose logs logstash
          docker-compose logs kibana

        ##############
        #            #
        # Tear down. #
        #            #
        ##############

      - name: Terminate all components
        if: always()
        run: docker-compose down -v

  test-swarm:
    name: 'Test suite: Swarm'
    runs-on: ubuntu-latest

    env:
      MODE: swarm

    steps:
      - uses: actions/checkout@v2

      - name: Enable Swarm mode
        run: docker swarm init

      ########################################################
      #                                                      #
      # Ensure ยง"Initial setup" of the README remains valid. #
      #                                                      #
      ########################################################

      - name: Set password of every built-in user to 'testpasswd'
        run: |

          # Change password of 'elastic' user from 'changeme' to 'testpasswd' in config files

          sed -i 's/\(xpack.monitoring.elasticsearch.password:\) changeme/\1 testpasswd/g' logstash/config/logstash.yml
          sed -i 's/\(password =>\) "changeme"/\1 "testpasswd"/g' logstash/pipeline/logstash.conf
          sed -i 's/\(elasticsearch.password:\) changeme/\1 testpasswd/g' kibana/config/kibana.yml

          # Run Elasticsearch and wait for its availability

          docker stack deploy -c ./docker-stack.yml elk
          docker service scale elk_logstash=0 elk_kibana=0
          source .github/workflows/scripts/lib/testing.sh
          poll_ready "$(container_id elasticsearch)" "http://$(service_ip elasticsearch):9200/" -u 'elastic:changeme'

          # Set passwords

          .github/workflows/scripts/elasticsearch-setup-passwords.sh swarm

      ##########################################################
      #                                                        #
      # Test core components: Elasticsearch, Logstash, Kibana. #
      #                                                        #
      ##########################################################

      - name:  Run the stack
        run: docker service scale elk_logstash=1 elk_kibana=1

      - name: Execute core test suite
        run: .github/workflows/scripts/run-tests-core.sh swarm

      - name: 'debug: Display state and logs (core)'
        if: always()
        run: |
          docker stack services elk
          docker service logs elk_elasticsearch
          docker service logs elk_kibana
          docker service logs elk_logstash

        ##############
        #            #
        # Tear down. #
        #            #
        ##############

      - name: Terminate all components
        if: always()
        run: docker stack rm elk
